In [83]:
import pandas as pd
from datetime import datetime, timedelta
from Indicators import resample, detect_fractal_v2, SuperTrend, atr
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
script = "ethusd"

df = pd.read_csv(f"{script}_merged.csv", parse_dates=["date"])

df1 = df[df["date"] >= datetime(2025, 6, 1)].copy(deep=True)

dfx = resample(df1, "15T")

/Users/cryptosniper/Desktop/CryptoCode/vipin/Indicators.py:33: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  resampled_df = df.resample(timeframe, origin="start_day").agg(ohlcv_dict)
/Users/cryptosniper/Desktop/CryptoCode/vipin/Indicators.py:37: FutureWarning: 'T' is deprecated and will be removed in a future version. Please use 'min' instead of 'T'.
  timeframe_delta = pd.to_timedelta(timeframe)

In [85]:
dfx.head()

                 date     open     high      low    close       volume
0 2025-06-01 00:00:00  2528.45  2529.06  2518.41  2520.50  2974.521632
1 2025-06-01 00:15:00  2520.49  2523.32  2515.46  2517.70  3443.769333
2 2025-06-01 00:30:00  2517.80  2521.96  2515.90  2521.96  1348.412897
3 2025-06-01 00:45:00  2521.96  2526.51  2521.30  2526.08  2406.654460
4 2025-06-01 01:00:00  2526.08  2529.20  2518.34  2528.40  2097.741586

In [86]:
# detect_fractal_v2(dfx, 2)
# fractal_top	fractal_bottom	fractal_time_top	fractal_time_bottom

In [87]:
SuperTrend(dfx, 10, 3.0)

array([0, 1, 1, ..., 1, 1, 1], shape=(3093,))

In [ ]:
# apply indicators

dfx = detect_fractal_v2(dfx, 2)
dfx["supertrend"] = SuperTrend(dfx, 10, 3.0)
atr(dfx)
dfx.dropna(inplace=True, axis=0)


dfx["p_atr"] = dfx["ATR"].shift(1)
dfx["p_supertrend"] = dfx["supertrend"].shift(1)
dfx["n_open"] = dfx["open"].shift(-1)
dfx["n_date"] = dfx["date"].shift(-1)

dfx = dfx[dfx["date"] >= datetime(2025, 6, 30)].copy(deep=True)

dfx["date"] = pd.to_datetime(dfx["date"], format="%Y-%m-%d %H:%M:%S")
dfx["n_date"] = pd.to_datetime(dfx["n_date"], format="%Y-%m-%d %H:%M:%S")

In [89]:
dfx.head()

,date,open,high,low,close,volume,fractal_top,fractal_bottom,fractal_time_top,fractal_time_bottom,supertrend,high-low,high-PrevClose,low-PrevClose,TrueRange,ATR,p_atr,p_supertrend,n_open,n_date
2784,2025-06-30 00:00:00,2500.31,2508.69,2500.01,2505.97,7463.844874,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,8.68,8.39,0.29,8.68,11.772343,12.010215,-1.0,2505.97,2025-06-30 00:15:00
2785,2025-06-30 00:15:00,2505.97,2520.70,2500.68,2516.14,8332.719783,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,20.02,14.73,5.29,20.02,12.361461,11.772343,-1.0,2516.03,2025-06-30 00:30:00
2786,2025-06-30 00:30:00,2516.03,2524.59,2510.71,2518.80,8187.741679,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,13.88,8.45,5.43,13.88,12.469928,12.361461,-1.0,2518.70,2025-06-30 00:45:00
2787,2025-06-30 00:45:00,2518.70,2523.58,2514.49,2519.01,5623.404911,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,9.09,4.78,4.31,9.09,12.228505,12.469928,-1.0,2518.93,2025-06-30 01:00:00
2788,2025-06-30 01:00:00,2518.93,2520.40,2505.29,2509.14,8498.417271,2524.59,2411.06,2025-06-30 00:30:00,2025-06-29 21:00:00,-1,15.11,1.39,13.72,15.11,12.434326,12.228505,-1.0,2509.14,2025-06-30 01:15:00

In [90]:
buy_entries = (
    (dfx["close"] > dfx["fractal_top"])
    & (dfx["date"] > dfx["fractal_time_top"])
    & (dfx["p_supertrend"].astype("Int32") == -1)
)

sell_entries = (
    (dfx["close"] < dfx["fractal_bottom"])
    & (dfx["date"] > dfx["fractal_time_bottom"])
    & (dfx["p_supertrend"].astype("Int32") == 1)
)


dfx["Buy Entry Cond"] = buy_entries
dfx["Sell Entry Cond"] = sell_entries


dfx.head()

,date,open,high,low,close,volume,fractal_top,fractal_bottom,fractal_time_top,fractal_time_bottom,supertrend,high-low,high-PrevClose,low-PrevClose,TrueRange,ATR,p_atr,p_supertrend,n_open,n_date,Buy Entry Cond,Sell Entry Cond
2784,2025-06-30 00:00:00,2500.31,2508.69,2500.01,2505.97,7463.844874,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,8.68,8.39,0.29,8.68,11.772343,12.010215,-1.0,2505.97,2025-06-30 00:15:00,False,False
2785,2025-06-30 00:15:00,2505.97,2520.70,2500.68,2516.14,8332.719783,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,20.02,14.73,5.29,20.02,12.361461,11.772343,-1.0,2516.03,2025-06-30 00:30:00,False,False
2786,2025-06-30 00:30:00,2516.03,2524.59,2510.71,2518.80,8187.741679,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,13.88,8.45,5.43,13.88,12.469928,12.361461,-1.0,2518.70,2025-06-30 00:45:00,False,False
2787,2025-06-30 00:45:00,2518.70,2523.58,2514.49,2519.01,5623.404911,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,9.09,4.78,4.31,9.09,12.228505,12.469928,-1.0,2518.93,2025-06-30 01:00:00,False,False
2788,2025-06-30 01:00:00,2518.93,2520.40,2505.29,2509.14,8498.417271,2524.59,2411.06,2025-06-30 00:30:00,2025-06-29 21:00:00,-1,15.11,1.39,13.72,15.11,12.434326,12.228505,-1.0,2509.14,2025-06-30 01:15:00,False,False

In [91]:
# dfx.head(20)

In [93]:
main_df = dfx.drop_duplicates(
    subset=["fractal_top", "fractal_time_top", "Buy Entry Cond"], keep="first"
)
entry_df = main_df.drop_duplicates(
    subset=["fractal_bottom", "fractal_time_bottom", "Sell Entry Cond"], keep="first"
)

In [94]:
entry_df.tail(40)

,date,open,high,low,close,volume,fractal_top,fractal_bottom,fractal_time_top,fractal_time_bottom,supertrend,high-low,high-PrevClose,low-PrevClose,TrueRange,ATR,p_atr,p_supertrend,n_open,n_date,Buy Entry Cond,Sell Entry Cond
2784,2025-06-30 00:00:00,2500.31,2508.69,2500.01,2505.97,7463.844874,2525.08,2411.06,2025-06-29 23:00:00,2025-06-29 21:00:00,-1,8.68,8.39,0.29,8.68,11.772343,12.010215,-1.0,2505.97,2025-06-30 00:15:00,False,False
2802,2025-06-30 04:30:00,2501.69,2503.12,2496.34,2496.59,844.833726,2505.76,2495.66,2025-06-30 04:00:00,2025-06-30 03:15:00,-1,6.78,1.43,5.35,6.78,8.540568,8.675996,-1.0,2496.60,2025-06-30 04:45:00,False,False
2810,2025-06-30 06:30:00,2498.23,2500.01,2481.44,2483.72,7214.731576,2504.20,2492.31,2025-06-30 06:00:00,2025-06-30 05:00:00,-1,18.57,1.77,16.80,18.57,7.897083,7.076090,-1.0,2483.72,2025-06-30 06:45:00,False,False
2818,2025-06-30 08:30:00,2476.11,2476.63,2468.24,2468.34,2080.645479,2486.51,2455.58,2025-06-30 08:00:00,2025-06-30 06:45:00,1,8.39,0.52,7.87,8.39,8.882556,8.920445,1.0,2468.35,2025-06-30 08:45:00,False,False
2822,2025-06-30 09:30:00,2472.09,2473.87,2454.31,2459.05,5171.042690,2476.82,2466.17,2025-06-30 09:00:00,2025-06-30 08:45:00,1,19.56,1.77,17.79,19.56,9.333128,8.546445,1.0,2459.04,2025-06-30 09:45:00,False,True
2831,2025-06-30 11:45:00,2462.64,2465.04,2456.54,2458.30,951.438276,2468.39,2446.15,2025-06-30 11:15:00,2025-06-30 10:15:00,1,8.50,2.40,6.10,8.50,8.559691,8.564283,1.0,2458.27,2025-06-30 12:00:00,False,False
2836,2025-06-30 13:00:00,2459.86,2464.47,2459.75,2463.69,1069.438532,2465.00,2456.54,2025-06-30 12:30:00,2025-06-30 11:45:00,1,4.72,4.76,0.04,4.76,7.759924,7.990688,1.0,2463.68,2025-06-30 13:15:00,False,False
2840,2025-06-30 14:00:00,2462.00,2466.99,2449.21,2465.00,6853.295921,2474.45,2457.01,2025-06-30 13:30:00,2025-06-30 12:45:00,1,17.78,5.13,12.65,17.78,9.225686,8.567662,1.0,2465.20,2025-06-30 14:15:00,False,False
2843,2025-06-30 14:45:00,2459.05,2460.79,2433.10,2437.80,16450.894032,2469.25,2449.21,2025-06-30 14:15:00,2025-06-30 14:00:00,1,27.69,1.71,25.98,27.69,11.100365,9.824239,1.0,2437.80,2025-06-30 15:00:00,False,True
2849,2025-06-30 16:15:00,2476.71,2478.06,2460.83,2463.24,5803.543360,2487.50,2433.10,2025-06-30 15:45:00,2025-06-30 14:45:00,1,17.23,1.13,16.10,17.23,13.293236,12.990408,1.0,2463.11,2025-06-30 16:30:00,False,False
2857,2025-06-30 18:15:00,2483.57,2498.88,2483.41,2491.99,2241.376661,2487.50,2460.83,2025-06-30 15:45:00,2025-06-30 16:15:00,-1,15.47,15.47,0.00,15.47,13.093102,12.910264,-1.0,2491.85,2025-06-30 18:30:00,True,False
2861,2025-06-30 19:15:00,2495.23,2517.70,2494.46,2509.12,9383.158433,2498.88,2479.23,2025-06-30 18:15:00,2025-06-30 18:30:00,-1,23.24,22.31,0.93,23.24,13.297276,12.532451,-1.0,2509.13,2025-06-30 19:30:00,True,False
2876,2025-06-30 23:00:00,2490.10,2494.53,2487.60,2493.00,1338.920804,2495.61,2481.65,2025-06-30 22:30:00,2025-06-30 21:45:00,-1,6.93,4.34,2.59,6.93,10.045868,10.285550,-1.0,2493.01,2025-06-30 23:15:00,False,False
2884,2025-07-01 01:00:00,2492.61,2498.19,2489.94,2497.90,1831.394714,2496.20,2476.74,2025-07-01 00:15:00,2025-07-01 00:30:00,-1,8.25,5.40,2.85,8.25,9.179425,9.250920,-1.0,2497.90,2025-07-01 01:15:00,True,False
2892,2025-07-01 03:00:00,2483.27,2485.79,2478.58,2483.44,1450.747575,2495.50,2485.50,2025-07-01 02:30:00,2025-07-01 02:00:00,-1,7.21,2.56,4.65,7.21,8.276965,8.359040,-1.0,2483.45,2025-07-01 03:15:00,False,False
2895,2025-07-01 03:45:00,2483.60,2486.00,2481.65,2485.21,1144.596447,2487.96,2478.58,2025-07-01 03:15:00,2025-07-01 03:00:00,-1,4.35,2.40,1.95,4.35,7.558106,7.804883,-1.0,2485.21,2025-07-01 04:00:00,False,False
2905,2025-07-01 06:15:00,2458.30,2461.27,2456.76,2457.43,2624.905079,2462.98,2451.11,2025-07-01 05:45:00,2025-07-01 05:30:00,1,4.51,2.97,1.54,4.51,7.732043,7.979892,1.0,2457.44,2025-07-01 06:30:00,False,False
2912,2025-07-01 08:00:00,2464.58,2464.58,2456.06,2456.31,1288.993882,2468.52,2444.29,2025-07-01 07:30:00,2025-07-01 07:15:00,1,8.52,0.08,8.44,8.52,7.828349,7.775145,1.0,2456.37,2025-07-01 08:15:00,False,False
2919,2025-07-01 09:45:00,2453.00,2457.96,2450.61,2456.45,1505.740052,2458.39,2450.80,2025-07-01 09:15:00,2025-07-01 08:45:00,1,7.35,4.95,2.40,7.35,7.183596,7.170795,1.0,2456.52,2025-07-01 10:00:00,False,False
2922,2025-07-01 10:30:00,2453.43,2458.51,2446.80,2452.48,6113.572990,2461.38,2449.66,2025-07-01 10:00:00,2025-07-01 09:30:00,1,11.71,5.08,6.63,11.71,7.393411,7.061366,1.0,2452.48,2025-07-01 10:45:00,False,False
2939,2025-07-01 14:45:00,2416.51,2420.45,2406.00,2419.21,21361.179943,2456.24,2422.31,2025-07-01 14:15:00,2025-07-01 13:30:00,1,14.45,3.94,10.51,14.45,11.886272,11.689062,1.0,2419.20,2025-07-01 15:00:00,False,True
2944,2025-07-01 16:00:00,2422.73,2430.36,2418.64,2428.81,2493.361485,2431.32,2406.00,2025-07-01 15:30:00,2025-07-01 14:45:00,1,11.72,7.73,3.99,11.72,11.239101,11.202109,1.0,2428.82,2025-07-01 16:15:00,False,False
2953,2025-07-01 18:15:00,2428.29,2428.35,2419.78,2420.64,1411.884608,2433.39,2417.26,2025-07-01 17:45:00,2025-07-01 17:00:00,1,8.57,0.07,8.50,8.57,9.406404,9.470743,1.0,2420.51,2025-07-01 18:30:00,False,False
2972,2025-07-01 23:00:00,2399.92,2401.03,2385.00,2388.97,11207.615593,2412.42,2398.63,2025-07-01 22:30:00,2025-07-01 22:00:00,1,16.03,1.12,14.91,16.03,10.178696,9.728595,1.0,2388.96,2025-07-01 23:15:00,False,True
2980,2025-07-02 01:00:00,2397.63,2401.31,2397.63,2401.03,1921.788199,2409.11,2385.00,2025-07-02 00:30:00,2025-07-01 23:00:00,1,3.68,3.69,0.01,3.69,8.249412,8.600136,1.0,2401.20,2025-07-02 01:15:00,False,False
2986,2025-07-02 02:30:00,2414.00,2414.99,2409.37,2414.76,3999.663207,2417.28,2371.18,2025-07-02 02:00:00,2025-07-02 01:15:00,1,5.62,0.99,4.63,5.62,9.204384,9.480106,1.0,2414.73,2025-07-02 02:45:00,False,False
2989,2025-07-02 03:15:00,2423.85,2431.61,2421.79,2427.71,3359.655674,2417.28,2406.46,2025-07-02 02:00:00,2025-07-02 02:15:00,-1,9.82,7.76,2.06,9.82,8.986043,8.921893,-1.0,2427.71,2025-07-02 03:30:00,True,False
2994,2025-07-02 04:30:00,2430.90,2436.59,2428.40,2434.97,4423.318977,2431.61,2424.70,2025-07-02 03:15:00,2025-07-02 04:00:00,-1,8.19,5.71,2.48,8.19,8.181425,8.180766,-1.0,2434.96,2025-07-02 04:45:00,True,False
3003,2025-07-02 06:45:00,2447.51,2453.44,2446.80,2451.33,3856.973675,2448.42,2438.15,2025-07-02 06:00:00,2025-07-02 06:15:00,-1,6.64,5.93,0.71,6.64,7.723809,7.807179,-1.0,2451.34,2025-07-02 07:00:00,True,False
3015,2025-07-02 09:45:00,2450.81,2451.72,2446.18,2448.37,1284.634949,2452.70,2444.05,2025-07-02 09:15:00,2025-07-02 08:45:00,-1,5.54,0.91,4.63,5.54,6.652183,6.737736,-1.0,2448.38,2025-07-02 10:00:00,False,False
3019,2025-07-02 10:45:00,2452.29,2453.93,2450.14,2453.22,829.727416,2452.70,2443.50,2025-07-02 09:15:00,2025-07-02 10:00:00,-1,3.79,1.64,2.15,3.79,5.976406,6.144591,-1.0,2453.22,2025-07-02 11:00:00,True,False
3033,2025-07-02 14:15:00,2455.70,2473.24,2449.54,2463.90,12677.922054,2460.24,2431.37,2025-07-02 11:00:00,2025-07-02 12:30:00,-1,23.70,17.54,6.16,23.70,8.773362,7.625159,-1.0,2464.00,2025-07-02 14:30:00,True,False
3055,2025-07-02 19:45:00,2582.70,2608.46,2580.62,2605.29,18256.347318,2590.39,2567.61,2025-07-02 17:15:00,2025-07-02 19:00:00,-1,27.84,25.75,2.09,27.84,14.274980,13.231517,-1.0,2605.06,2025-07-02 20:00:00,True,False
3065,2025-07-02 22:15:00,2596.01,2597.63,2592.14,2596.74,1701.481952,2600.73,2583.74,2025-07-02 21:45:00,2025-07-02 21:15:00,-1,5.49,1.57,3.92,5.49,11.833474,12.321433,-1.0,2596.74,2025-07-02 22:30:00,False,False
3076,2025-07-03 01:00:00,2573.68,2578.28,2565.50,2576.52,3394.572041,2579.70,2561.39,2025-07-03 00:30:00,2025-07-03 00:15:00,1,12.78,4.59,8.19,12.78,12.084950,12.031485,1.0,2576.52,2025-07-03 01:15:00,False,False
3087,2025-07-03 03:45:00,2568.29,2568.29,2559.95,2561.20,3859.462570,2571.75,2556.01,2025-07-03 03:15:00,2025-07-03 02:45:00,1,8.34,0.10,8.24,8.34,10.238798,10.384860,1.0,2561.20,2025-07-03 04:00:00,False,False

In [95]:
entry_df.dropna(inplace=True, axis=0)
entry_df.reset_index(inplace=True)

/var/folders/t1/hprdk945653_456srgszhpw80000gr/T/ipykernel_2709/1342345424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  entry_df.dropna(inplace=True, axis=0)

In [96]:
p = entry_df.iloc[0]["date"] - timedelta(days=1)
p

Timestamp('2025-06-29 00:00:00')

In [98]:
dfx.at[0, "date"]

Timestamp('2025-06-30 00:00:00')

In [ ]:
## flags
prev_fractal = 0
prev_exit_time = entry_df.at[0, "date"]
EntryPrice = 0
entry = False
side = ""
final_sheet = []
run_time = entry_df.at[0, "date"]


for i in range(len(entry_df) - 2):

    EntryTime = entry_df.at[i, "n_date"]

    if entry_df.at[i, "n_date"] < prev_exit_time or :
        continue

    FractalTop = entry_df.at[i, "fractal_top"]
    FractalBottom = entry_df.at[i, "fractal_bottom"]
    FractalTopTime = entry_df.at[i, "fractal_time_top"]
    FractalBottomTime = entry_df.at[i, "fractal_time_bottom"]
    
    atr = entry_df.at[i, "p_atr"]
    spt = entry_df.at[i, "p_supertrend"]

    if entry_df.at[i, "Buy Entry Cond"] and FractalTopTime >= prev_exit_time:
        entry = True
        EntryPrice = entry_df.at[i,"n_open"]
        side = "buy"
        prev_fractal = FractalTop
        prev_exit_time = entry_df["date"][i]

    if entry_df.at[i, "Sell Entry Cond"] and FractalBottomTime >= prev_exit_time:
        entry = True
        EntryPrice = entry_df.at[i,"n_open"]
        side = "sell"
        prev_fractal = FractalBottom
        prev_exit_time = entry_df["date"][i]

    if entry and side == "buy":
        # print("Buy trade")
        sl = EntryPrice - (1 * atr)
        tg = EntryPrice + (2 * atr)
        sl_flt = dfx[(dfx["date"] > EntryTime) & (dfx["low"] < sl)]
        tg_flt = dfx[(dfx["date"] > EntryTime) & (dfx["high"] > tg)]

        if not sl_flt.empty and not tg_flt.empty:
            # check who is first
            first_sl = sl_flt.iloc[0]["date"]
            first_tg = tg_flt.iloc[0]["date"]

            if first_sl < first_tg:
                ExitPrice = sl
                ExitTime = first_sl
                ExitType = "SL"
            else:
                ExitPrice = tg
                ExitTime = first_tg
                ExitType = "TG"

        if sl_flt.empty and not tg_flt.empty:
            ExitPrice = tg
            ExitTime = tg_flt.iloc[0]["date"]
            ExitType = "TG"

        if tg_flt.empty and not sl_flt.empty:
            ExitPrice = sl
            ExitTime = sl_flt.iloc[0]["date"]
            ExitType = "SL"

        prev_exit_time = ExitTime
        doc = {
            "EntryTime": EntryTime,
            "EntryPrice": EntryPrice,
            "Side": side,
            "FractalPrice": FractalTop,
            "FractalTime": FractalTopTime,
            "SuperTrend": spt,
            "Atr": atr,
            "StopLoss": sl,
            "Target": tg,
            "ExitType": ExitType,
            "ExitPrice": ExitPrice,
            "ExitTime": ExitTime,
        }

        final_sheet.append(doc)

    if entry and side == "sell":
        # print("Sell trade")
        sl = EntryPrice + (1 * atr)  # SL above entry for sell
        tg = EntryPrice - (2 * atr)  # TG below entry for sell
        sl_flt = dfx[(dfx["date"] > EntryTime) & (dfx["high"] > sl)]
        tg_flt = dfx[(dfx["date"] > EntryTime) & (dfx["low"] < tg)]

        if not sl_flt.empty and not tg_flt.empty:
            # check who is first
            first_sl = sl_flt.iloc[0]["date"]
            first_tg = tg_flt.iloc[0]["date"]

            if first_sl < first_tg:
                ExitPrice = sl
                ExitTime = first_sl
                ExitType = "SL"
            else:
                ExitPrice = tg
                ExitTime = first_tg
                ExitType = "TG"

        if sl_flt.empty and not tg_flt.empty:
            ExitPrice = tg
            ExitTime = tg_flt.iloc[0]["date"]
            ExitType = "TG"

        if tg_flt.empty and not sl_flt.empty:
            ExitPrice = sl
            ExitTime = sl_flt.iloc[0]["date"]
            ExitType = "SL"

        prev_exit_time = ExitTime
        doc = {
            "EntryTime": EntryTime,
            "EntryPrice": EntryPrice,
            "Side": side,
            "FractalPrice": FractalTop,
            "FractalTime": FractalTopTime,
            "SuperTrend": spt,
            "Atr": atr,
            "StopLoss": sl,
            "Target": tg,
            "ExitType": ExitType,
            "ExitPrice": ExitPrice,
            "ExitTime": ExitTime,
        }

        final_sheet.append(doc)

In [100]:
FractalTop, FractalBottom, FractalTopTime, FractalBottomTime, atr, entry, side

(np.float64(2600.73),
 np.float64(2583.74),
 Timestamp('2025-07-02 21:45:00'),
 Timestamp('2025-07-02 21:15:00'),
 np.float64(12.32143323852862),
 True,
 'buy')

In [ ]:
sheet = pd.DataFrame(final_sheet)
sheet.head()

,EntryTime,EntryPrice,Side,FractalPrice,FractalTime,SuperTrend,Atr,StopLoss,Target,ExitType,ExitPrice,ExitTime
0,2025-06-30 09:45:00,2459.04,sell,2476.82,2025-06-30 09:00:00,1.0,8.546445,2467.586445,2441.947109,SL,2467.586445,2025-06-30 11:15:00
1,2025-06-30 12:00:00,2459.04,sell,2468.39,2025-06-30 11:15:00,1.0,8.564283,2467.604283,2441.911434,SL,2467.604283,2025-06-30 13:15:00
2,2025-06-30 13:15:00,2459.04,sell,2465.00,2025-06-30 12:30:00,1.0,7.990688,2467.030688,2443.058625,SL,2467.030688,2025-06-30 13:30:00
3,2025-06-30 14:15:00,2459.04,sell,2474.45,2025-06-30 13:30:00,1.0,8.567662,2467.607662,2441.904677,TG,2441.904677,2025-06-30 14:45:00
4,2025-06-30 15:00:00,2459.04,sell,2469.25,2025-06-30 14:15:00,1.0,9.824239,2468.864239,2439.391521,TG,2439.391521,2025-06-30 15:15:00

In [ ]:
import numpy as np

sheet["pnl"] = np.where(
    sheet["Side"] == "buy",
    sheet["ExitPrice"] - sheet["EntryPrice"],
    sheet["EntryPrice"] - sheet["ExitPrice"],
)

In [71]:
sheet.tail(12)

,EntryTime,EntryPrice,Side,FractalPrice,FractalTime,SuperTrend,Atr,StopLoss,Target,ExitType,ExitPrice,ExitTime,pnl
11,2025-07-01 10:30:00,2483.27,buy,2461.38,2025-07-01 10:00:00,1.0,7.061366,2476.208634,2497.392731,SL,2476.208634,2025-07-01 10:45:00,-7.061366
12,2025-07-01 14:45:00,2422.73,sell,2456.24,2025-07-01 14:15:00,1.0,11.689062,2434.419062,2399.351876,TG,2399.351876,2025-07-01 18:45:00,23.378124
13,2025-07-01 23:00:00,2397.63,sell,2412.42,2025-07-01 22:30:00,1.0,9.728595,2407.358595,2378.172809,SL,2407.358595,2025-07-02 00:15:00,-9.728595
14,2025-07-02 01:00:00,2397.63,sell,2409.11,2025-07-02 00:30:00,1.0,8.600136,2406.230136,2380.429727,TG,2380.429727,2025-07-02 01:15:00,17.200273
15,2025-07-02 02:30:00,2397.63,sell,2417.28,2025-07-02 02:00:00,1.0,9.480106,2407.110106,2378.669787,SL,2407.110106,2025-07-02 02:45:00,-9.480106
16,2025-07-02 03:15:00,2397.63,sell,2417.28,2025-07-02 02:00:00,-1.0,8.921893,2406.551893,2379.786215,SL,2406.551893,2025-07-02 03:30:00,-8.921893
17,2025-07-02 04:30:00,2397.63,sell,2431.61,2025-07-02 03:15:00,-1.0,8.180766,2405.810766,2381.268468,SL,2405.810766,2025-07-02 04:45:00,-8.180766
18,2025-07-02 06:45:00,2450.81,buy,2448.42,2025-07-02 06:00:00,-1.0,7.807179,2443.002821,2466.424358,SL,2443.002821,2025-07-02 07:00:00,-7.807179
19,2025-07-02 09:45:00,2450.81,buy,2452.70,2025-07-02 09:15:00,-1.0,6.737736,2444.072264,2464.285472,SL,2444.072264,2025-07-02 10:00:00,-6.737736
20,2025-07-02 10:45:00,2450.81,buy,2452.70,2025-07-02 09:15:00,-1.0,6.144591,2444.665409,2463.099181,SL,2444.665409,2025-07-02 11:45:00,-6.144591
21,2025-07-02 14:15:00,2450.81,buy,2460.24,2025-07-02 11:00:00,-1.0,7.625159,2443.184841,2466.060319,TG,2466.060319,2025-07-02 14:30:00,15.250319
22,2025-07-02 19:45:00,2596.01,buy,2590.39,2025-07-02 17:15:00,-1.0,13.231517,2582.778483,2622.473034,SL,2582.778483,2025-07-02 23:15:00,-13.231517

In [34]:
sheet.to_excel("SPT_FRA_BACKTEST.xlsx", index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [36]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
    2/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [ ]:
dfx.tail()

NameError: name 'dfx' is not defined

In [ ]:
from datetime import datetime
import time

tm = [0, 15, 30, 45]

while True:
    dt_m = datetime.now().minute
    if dt_m in tm:
        print("Time", dt_m)
        time.sleep(60)
        break

Time 30